@keyframes color {
  0% {
    background: #61b3d4;
  }
  20% {
    background: #6189d4;
  }
  40% {
    background: #6172d4;
  }
  60% {
    background: #8c5ed6;
  }
  80% {
    background: #a370dd;
  }
  100% {
    background: #61b3d4;
  }
}

body {
  background: #e2e2e2; /* Fallback */
  animation: color 30s infinite linear;
}

/*Title Fade Animation*/

@keyframes titleFadeIn {
  from {
    opacity: 0%;
    transform: translateY(-10%);
  }

  to {
    opacity: 100%;
    transform: translateY(0%);
  }
}
