.container {
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  margin: 2% 10%;
  padding: 1% 5%;

  border-radius: 25px;
  background: #ffffff;
  box-shadow: 24px 24px 50px #3a3a3a56, -28px -28px 56px #3a3a3a56;
}

h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  display: inline-block;
}

h2 {
  text-align: left;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 2%;
}

p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 200;
}

/* First section styling */

.colorSection {
  font-family: "Work Sans";
  font-style: normal;
  margin-top: 2%;
}

.colorBox {
  width: 140px;
  height: 140px;
  padding: 1% 1%;
  color: white;
  vertical-align: middle;
  line-height: 130px;
  margin-right: 2%;
  border-radius: 100%;
  opacity: 0.8;
  transition: 1s;
}

.colorBoxOne {
  background: #b9929f;
  display: inline-block;
  text-align: center;
}

.colorBoxTwo {
  background: #9c528b;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.colorBoxThree {
  background: #610f7f;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.colorBoxFour {
  background: #2f0147;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.colorBox:hover {
  transition: 0.5s;
  opacity: 1;
  box-shadow: 2px 3px 6px rgb(46, 46, 46);
}

/*Font Section Styling */

.fontSection {
  width: 100%;
  height: 500px;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.fontBox {
  width: 240px;
  height: 240px;
}

/*First Font */

.fontOne {
  text-align: left;
}

.heebo {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
}

#heeboLight {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 200;
}

#heeboMedium {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
}

#heeboBold {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
}

/*Second Font */

.fontTwo {
  text-align: left;
}

.workSans {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
}

#workSansLight {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 200;
}

#workSansMedium {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
}

#workSansBold {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
}

/*Third Font */

.fontThree {
  text-align: left;
}

.shadowsIntoLight {
  font-family: "Shadows Into Light";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
}

#shadowsIntoLightLight {
  font-family: "Shadows Into Light";
  font-style: normal;
  font-weight: 200;
}

#shadowsIntoLightMedium {
  font-family: "Shadows Into Light";
  font-style: normal;
  font-weight: 500;
}

#shadowsIntoLightBold {
  font-family: "Shadows Into Light";
  font-style: normal;
  font-weight: 700;
}
